.solided{ 
    color:#000000; 
    border-bottom:1px solid #D9D9D9; 
    border-top:0px; 
    border-left:0px; 
    border-right:0px;
    background-color:transparent;
}
.combobox-menuitem {
    color: #000;
    margin: 0;
    padding: 0px 1px 0px 4px;
    z-index:99;
    cursor:pointer;
    word-wrap:break-word ;
    line-height: 20px;
}
.l-text-field {
    position:absolute;left:1px;top:2px; 
    width:110px;
    border:0; margin:0; outline:none;
    padding: 0;
    background: #fff;
}
.l-trigger {
    border:1px solid #AECAF0; 
    background:#DBEBFF url('../images/bg-trigger.gif') repeat-x left;
}

.l-trigger-icon {	
  width:100%;
  height:100%;
  background:url('../images/icon-down.gif') no-repeat 50% 50%;
}
.l-trigger,.l-trigger-hover,.l-trigger-pressed {
    cursor:pointer;
    position:absolute;
    top:1px;right:1px;
    width:16px;height:16px;
    overflow:hidden;
}
.comboContainer{
    margin-top:4px;border:1px solid #AECAF0; height:20px; line-height:20px; background:white;position:relative;
}
.selectBox{
    left:-1px;z-index: 9999;top:20px;position: absolute; background-color: rgb(255, 255, 255);
    border:1px solid #AECAF0; display: none;overflow-x:hidden;overflow-y:auto;
}
.combobox-menutiem-hover {

}
.ui-inputText-x-trigger {
   position: absolute;right : 1px;z-index : 100;cursor: pointer;
}
.ui-clear {
	clear: both;
}
.ui-attchmentContainer {
	
}
.ui-attchment {
	
}
.ui-attchment-button-container{
	position: relative;height: 25px;
}
.ui-attchment-button {
	margin-left: 0px;position: absolute;
}
.ui-attchment-button-file {
	position: absolute;width: 100px; /* for IE */height: 30px \9; margin-left: -30px;
}
.ui-attchment-button-remove {
	float: left;margin-left: 12px;cursor: pointer;
}
.loading_container {
	width: 75px;
}
.monthPickerContainer a{
	outline: none;
	overflow: hidden;
}
.x-date-mp-month {
	border: 0 none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.x-date-mp-year{
	border: 0 none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.mouth_select{
	background-color: #c5d2df;
}
.monthBorder{
	border-right: 1px solid;
	border-right-color: gray;
}
.month_prev_page{
	border: 0 none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.month_next_page{
	border: 0 none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.month_mouseenter {
	background-color: #AECAF0;
}
.month_mouseleave{
	background-color: white;
}
.ssfw_calendar_table {
   border-collapse: collapse;
   border-color: #000000;
   position: relative;
   text-align:center;
   width: 600px;
}
.ssfw_calendar_table td {
}
.ssfw_calendar_timeRange {
   
}
.ssfw_calendar_reservations {
	background-color: #b3d4fc;
}

.ssfw_calendar_noreservations {
	background-color: gray;
}
.ssfw_calendar_currentTime {
	background-color: red;
}