
html {
    height: 100%;
}
body {
    font-family: Arial,sans-serif;
    font-size: 12px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}
caption, th {
    text-align: left;
}
q::before, q::after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
iframe {
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
code, pre {
    border-radius: 3px;
    color: #333;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    padding: 0 3px 2px;
}
code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    color: #dd1144;
    padding: 2px 4px;
    white-space: nowrap;
}
pre {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 9.5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
pre.prettyprint {
    margin-bottom: 20px;
}
pre code {
    background-color: transparent;
    border: 0 none;
    color: inherit;
    padding: 0;
}
ul, ol, li {
    list-style: outside none none;
}
.li120 li {
    width: 120px;
}
legend {
    color: #000;
}
h1, h3 {
    display: block;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    margin: 10px 0;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #999999;
    font-weight: normal;
    line-height: 1;
}
h1 {
    font-size: 36px;
    line-height: 40px;
}
h2 {
    font-size: 30px;
    line-height: 40px;
}
h3 {
    font-size: 24px;
    line-height: 40px;
}
h4 {
    font-size: 18px;
    line-height: 20px;
}
h5 {
    font-size: 14px;
    line-height: 20px;
}
h6 {
    font-size: 12px;
    line-height: 20px;
}
h1 small {
    font-size: 24px;
}
h2 small {
    font-size: 18px;
}
h3 small {
    font-size: 14px;
}
h4 small {
    font-size: 14px;
}
a {
    font-size: 12px;
    outline: medium none;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: -0.2em;
}
legend, #IE8#HACK {
    margin-bottom: 0;
    margin-top: 0;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: inline-block;
    padding: 6px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
select {
    background: #fff url("../images/icons/input_bg.gif") repeat-x scroll left top;
    border: 1px solid #ccc;
    color: #333;
    padding: 4px 3px 5px 0;
}
textarea {
    background: #fff url("../images/icons/input_bg.gif") repeat-x scroll left top;
    border: 1px solid #ccc;
    color: #555;
    overflow: auto;
}
input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #555;
    display: inline-block;
    padding: 6px;
}
input[type="radio"], input[type="checkbox"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 1px;
    margin-right: 5px;
    vertical-align: middle;
}
select, input[type="file"] {
}
select[multiple], select[size] {
    height: auto;
}
