
.icon_white, .nav_tabs > .active > a > [class^="icon_"], .nav_tabs > .active > a > [class*=" icon_"], .nav_pills > .active > a > [class^="icon_"], .nav_pills > .active > a > [class*=" icon_"], .nav_list > .active > a > [class^="icon_"], .nav_list > .active > a > [class*=" icon_"], .navbar-inverse .nav > .active > a > [class^="icon_"], .navbar-inverse .nav > .active > a > [class*=" icon_"], .dropdown-menu > li > a:hover > [class^="icon_"], .dropdown-menu > li > a:hover > [class*=" icon_"], .dropdown-menu > .active > a > [class^="icon_"], .dropdown-menu > .active > a > [class*=" icon_"] {
    background-image: url("../images/icons/glyphicons-halflings-white.png");
}
.icon_chevron_right, .icon_glass, .icon_music, .icon_search, .icon_envelope, .icon_heart, .icon_star, .icon_star_empty, .icon_user, .icon_film, .icon_th_large, .icon_th, .icon_th_list, .icon_ok, .icon_remove, .icon_zoom_in, .icon_zoom_out, .icon_off, .icon_signal, .icon_cog, .icon_trash, .icon_home, .icon_file, .icon_time, .icon_road, .icon_download_alt, .icon_download, .icon_upload, .icon_inbox, .icon_play_circle, .icon_repeat, .icon_refresh, .icon_list_alt, .icon_lock, .icon_flag, .icon_headphones, .icon_volume_off, .icon_volume_down, .icon_volume_up, .icon_qrcode, .icon_barcode, .icon_tag, .icon_tags, .icon_book, .icon_bookmark, .icon_print, .icon_camera, .icon_font, .icon_bold, .icon_italic, .icon_text_height, .icon_text_width, .icon_align_left, .icon_align_center, .icon_align_right, .icon_align_justify, .icon_list, .icon_indent_left, .icon_indent_right, .icon_facetime_video, .icon_picture, .icon_pencil, .icon_map_marker, .icon_adjust, .icon_tint, .icon_edit, .icon_share, .icon_check, .icon_move, .icon_step_backward, .icon_fast_backward, .icon_backward, .icon_play, .icon_pause, .icon_stop, .icon_forward, .icon_fast_forward, .icon_step_forward, .icon_eject, .icon_chevron_left, .icon_chevron_right, .icon_plus_sign, .icon_minus_sign, .icon_remove_sign, .icon_ok_sign, .icon_question_sign, .icon_info_sign, .icon_screenshot, .icon_remove_circle, .icon_ok_circle, .icon_ban_circle, .icon_arrow_left, .icon_arrow_right, .icon_arrow_up, .icon_arrow_down, .icon_share_alt, .icon_resize_full, .icon_resize_small, .icon_plus, .icon_minus, .icon_asterisk, .icon_exclamation_sign, .icon_gift, .icon_leaf, .icon_fire, .icon_eye_open, .icon_eye_close, .icon_warning_sign, .icon_plane, .icon_calendar, .icon_random, .icon_comment, .icon_magnet, .icon_chevron_up, .icon_chevron_down, .icon_retweet, .icon_shopping_cart, .icon_folder_close, .icon_folder_open, .icon_resize_vertical, .icon_resize_horizontal, .icon_hdd, .icon_bullhorn, .icon_bell, .icon_certificate, .icon_thumbs_up, .icon_thumbs_down, .icon_hand_right, .icon_hand_left, .icon_hand_up, .icon_hand_down, .icon_circle_arrow_right, .icon_circle_arrow_left, .icon_circle_arrow_up, .icon_circle_arrow_down, .icon_globe, .icon_wrench, .icon_tasks, .icon_filter, .icon_briefcase, .icon_fullscreen {
    background-image: url("../images/icons/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-right: 2px;
    margin-top: 1px;
    vertical-align: text-bottom;
    width: 14px;
}
.icon_white {
    background-image: url("../images/icons/glyphicons-halflings-white.png");
}
.icon_glass {
    background-position: 0 0;
}
.icon_music {
    background-position: -24px 0;
}
.icon_search {
    background-position: -48px 0;
}
.icon_envelope {
    background-position: -72px 0;
}
.icon_heart {
    background-position: -96px 0;
}
.icon_star {
    background-position: -120px 0;
}
.icon_star_empty {
    background-position: -144px 0;
}
.icon_user {
    background-position: -168px 0;
}
.icon_film {
    background-position: -192px 0;
}
.icon_th_large {
    background-position: -216px 0;
}
.icon_th {
    background-position: -240px 0;
}
.icon_th_list {
    background-position: -264px 0;
}
.icon_ok {
    background-position: -288px 0;
}
.icon_remove {
    background-position: -312px 0;
}
.icon_zoom_in {
    background-position: -336px 0;
}
.icon_zoom_out {
    background-position: -360px 0;
}
.icon_off {
    background-position: -384px 0;
}
.icon_signal {
    background-position: -408px 0;
}
.icon_cog {
    background-position: -432px 0;
}
.icon_trash {
    background-position: -456px 0;
}
.icon_home {
    background-position: 0 -24px;
}
.icon_file {
    background-position: -24px -24px;
}
.icon_time {
    background-position: -48px -24px;
}
.icon_road {
    background-position: -72px -24px;
}
.icon_download_alt {
    background-position: -96px -24px;
}
.icon_download {
    background-position: -120px -24px;
}
.icon_upload {
    background-position: -144px -24px;
}
.icon_inbox {
    background-position: -168px -24px;
}
.icon_play_circle {
    background-position: -192px -24px;
}
.icon_repeat {
    background-position: -216px -24px;
}
.icon_refresh {
    background-position: -240px -24px;
}
.icon_list_alt {
    background-position: -264px -24px;
}
.icon_lock {
    background-position: -287px -24px;
}
.icon_flag {
    background-position: -312px -24px;
}
.icon_headphones {
    background-position: -336px -24px;
}
.icon_volume_off {
    background-position: -360px -24px;
}
.icon_volume_down {
    background-position: -384px -24px;
}
.icon_volume_up {
    background-position: -408px -24px;
}
.icon_qrcode {
    background-position: -432px -24px;
}
.icon_barcode {
    background-position: -456px -24px;
}
.icon_tag {
    background-position: 0 -48px;
}
.icon_tags {
    background-position: -25px -48px;
}
.icon_book {
    background-position: -48px -48px;
}
.icon_bookmark {
    background-position: -72px -48px;
}
.icon_print {
    background-position: -96px -48px;
}
.icon_camera {
    background-position: -120px -48px;
}
.icon_font {
    background-position: -144px -48px;
}
.icon_bold {
    background-position: -167px -48px;
}
.icon_italic {
    background-position: -192px -48px;
}
.icon_text_height {
    background-position: -216px -48px;
}
.icon_text_width {
    background-position: -240px -48px;
}
.icon_align_left {
    background-position: -264px -48px;
}
.icon_align_center {
    background-position: -288px -48px;
}
.icon_align_right {
    background-position: -312px -48px;
}
.icon_align_justify {
    background-position: -336px -48px;
}
.icon_list {
    background-position: -360px -48px;
}
.icon_indent_left {
    background-position: -384px -48px;
}
.icon_indent_right {
    background-position: -408px -48px;
}
.icon_facetime_video {
    background-position: -432px -48px;
}
.icon_picture {
    background-position: -456px -48px;
}
.icon_pencil {
    background-position: 0 -72px;
}
.icon_map_marker {
    background-position: -24px -72px;
}
.icon_adjust {
    background-position: -48px -72px;
}
.icon_tint {
    background-position: -72px -72px;
}
.icon_edit {
    background-position: -96px -72px;
}
.icon_share {
    background-position: -120px -72px;
}
.icon_check {
    background-position: -144px -72px;
}
.icon_move {
    background-position: -168px -72px;
}
.icon_step_backward {
    background-position: -192px -72px;
}
.icon_fast_backward {
    background-position: -216px -72px;
}
.icon_backward {
    background-position: -240px -72px;
}
.icon_play {
    background-position: -264px -72px;
}
.icon_pause {
    background-position: -288px -72px;
}
.icon_stop {
    background-position: -312px -72px;
}
.icon_forward {
    background-position: -336px -72px;
}
.icon_fast_forward {
    background-position: -360px -72px;
}
.icon_step_forward {
    background-position: -384px -72px;
}
.icon_eject {
    background-position: -408px -72px;
}
.icon_chevron_left {
    background-position: -432px -72px;
}
.icon_chevron_right {
    background-position: -456px -72px;
}
.icon_plus_sign {
    background-position: 0 -96px;
}
.icon_minus_sign {
    background-position: -24px -96px;
}
.icon_remove_sign {
    background-position: -48px -96px;
}
.icon_ok_sign {
    background-position: -72px -96px;
}
.icon_question_sign {
    background-position: -96px -96px;
}
.icon_info_sign {
    background-position: -120px -96px;
}
.icon_screenshot {
    background-position: -144px -96px;
}
.icon_remove_circle {
    background-position: -168px -96px;
}
.icon_ok_circle {
    background-position: -192px -96px;
}
.icon_ban_circle {
    background-position: -216px -96px;
}
.icon_arrow_left {
    background-position: -240px -96px;
}
.icon_arrow_right {
    background-position: -264px -96px;
}
.icon_arrow_up {
    background-position: -289px -96px;
}
.icon_arrow_down {
    background-position: -312px -96px;
}
.icon_share_alt {
    background-position: -336px -96px;
}
.icon_resize_full {
    background-position: -360px -96px;
}
.icon_resize_small {
    background-position: -384px -96px;
}
.icon_plus {
    background-position: -408px -96px;
}
.icon_minus {
    background-position: -433px -96px;
}
.icon_asterisk {
    background-position: -456px -96px;
}
.icon_exclamation_sign {
    background-position: 0 -120px;
}
.icon_gift {
    background-position: -24px -120px;
}
.icon_leaf {
    background-position: -48px -120px;
}
.icon_fire {
    background-position: -72px -120px;
}
.icon_eye_open {
    background-position: -96px -120px;
}
.icon_eye_close {
    background-position: -120px -120px;
}
.icon_warning_sign {
    background-position: -144px -120px;
}
.icon_plane {
    background-position: -168px -120px;
}
.icon_calendar {
    background-position: -192px -120px;
}
.icon_random {
    background-position: -216px -120px;
    width: 16px;
}
.icon_comment {
    background-position: -240px -120px;
}
.icon_magnet {
    background-position: -264px -120px;
}
.icon_chevron_up {
    background-position: -288px -120px;
}
.icon_chevron_down {
    background-position: -313px -119px;
}
.icon_retweet {
    background-position: -336px -120px;
}
.icon_shopping_cart {
    background-position: -360px -120px;
}
.icon_folder_close {
    background-position: -384px -120px;
}
.icon_folder_open {
    background-position: -408px -120px;
    width: 16px;
}
.icon_resize_vertical {
    background-position: -432px -119px;
}
.icon_resize_horizontal {
    background-position: -456px -118px;
}
.icon_hdd {
    background-position: 0 -144px;
}
.icon_bullhorn {
    background-position: -24px -144px;
}
.icon_bell {
    background-position: -48px -144px;
}
.icon_certificate {
    background-position: -72px -144px;
}
.icon_thumbs_up {
    background-position: -96px -144px;
}
.icon_thumbs_down {
    background-position: -120px -144px;
}
.icon_hand_right {
    background-position: -144px -144px;
}
.icon_hand_left {
    background-position: -168px -144px;
}
.icon_hand_up {
    background-position: -192px -144px;
}
.icon_hand_down {
    background-position: -216px -144px;
}
.icon_circle_arrow_right {
    background-position: -240px -144px;
}
.icon_circle_arrow_left {
    background-position: -264px -144px;
}
.icon_circle_arrow_up {
    background-position: -288px -144px;
}
.icon_circle_arrow_down {
    background-position: -312px -144px;
}
.icon_globe {
    background-position: -336px -144px;
}
.icon_wrench {
    background-position: -360px -144px;
}
.icon_tasks {
    background-position: -384px -144px;
}
.icon_filter {
    background-position: -408px -144px;
}
.icon_briefcase {
    background-position: -432px -144px;
}
.icon_fullscreen {
    background-position: -456px -144px;
}
.ui_nav_v li i, .ui_nav_h li i {
    margin: 0 4px 0 0;
}
