
.ui_container {
    margin: 0 auto;
    width: 960px;
}
.ui_container_fluid {
}
.w960 {
    width: 960px;
}
.w1000 {
    width: 1000px;
}
.w1200 {
    width: 1200px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24, .grid_25, .grid_26, .grid_27, .grid_28, .grid_29, .grid_30 {
    display: inline;
    float: left;
}
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11, .push_12, .pull_12, .push_13, .pull_13, .push_14, .pull_14, .push_15, .pull_15, .push_16, .pull_16, .push_17, .pull_17, .push_18, .pull_18, .push_19, .pull_19, .push_20, .pull_20, .push_21, .pull_21, .push_22, .pull_22, .push_23, .pull_23 .push_14, .pull_24, .push_25, .pull_25, .push_26, .pull_26, .push_27, .pull_27, .push_28, .pull_28, .push_29, .pull_29 {
    position: relative;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
.grid_1 {
    width: 40px;
}
.grid_2 {
    width: 80px;
}
.grid_3 {
    width: 120px;
}
.grid_4 {
    width: 160px;
}
.grid_5 {
    width: 200px;
}
.grid_6 {
    width: 240px;
}
.grid_7 {
    width: 280px;
}
.grid_8 {
    width: 320px;
}
.grid_9 {
    width: 360px;
}
.grid_10 {
    width: 400px;
}
.grid_11 {
    width: 440px;
}
.grid_12 {
    width: 480px;
}
.grid_13 {
    width: 520px;
}
.grid_14 {
    width: 560px;
}
.grid_15 {
    width: 600px;
}
.grid_16 {
    width: 640px;
}
.grid_17 {
    width: 680px;
}
.grid_18 {
    width: 720px;
}
.grid_19 {
    width: 760px;
}
.grid_20 {
    width: 800px;
}
.grid_21 {
    width: 840px;
}
.grid_22 {
    width: 880px;
}
.grid_23 {
    width: 920px;
}
.grid_24 {
    width: 960px;
}
.grid_25 {
    width: 1000px;
}
.grid_26 {
    width: 1040px;
}
.grid_27 {
    width: 1080px;
}
.grid_28 {
    width: 1120px;
}
.grid_29 {
    width: 1160px;
}
.grid_30 {
    width: 1200px;
}
.prefix_1 {
    margin-left: 40px;
}
.prefix_2 {
    margin-left: 80px;
}
.prefix_3 {
    margin-left: 120px;
}
.prefix_4 {
    margin-left: 160px;
}
.prefix_5 {
    margin-left: 200px;
}
.prefix_6 {
    margin-left: 240px;
}
.prefix_7 {
    margin-left: 280px;
}
.prefix_8 {
    margin-left: 320px;
}
.prefix_9 {
    margin-left: 360px;
}
.prefix_10 {
    margin-left: 400px;
}
.prefix_11 {
    margin-left: 440px;
}
.prefix_12 {
    margin-left: 480px;
}
.prefix_13 {
    margin-left: 520px;
}
.prefix_14 {
    margin-left: 560px;
}
.prefix_15 {
    margin-left: 600px;
}
.prefix_16 {
    margin-left: 640px;
}
.prefix_17 {
    margin-left: 680px;
}
.prefix_18 {
    margin-left: 720px;
}
.prefix_19 {
    margin-left: 760px;
}
.prefix_20 {
    margin-left: 800px;
}
.prefix_21 {
    margin-left: 840px;
}
.prefix_22 {
    margin-left: 880px;
}
.prefix_23 {
    margin-left: 920px;
}
.prefix_24 {
    margin-left: 960px;
}
.prefix_25 {
    margin-left: 1000px;
}
.prefix_26 {
    margin-left: 1040px;
}
.prefix_27 {
    margin-left: 1080px;
}
.prefix_28 {
    margin-left: 1120px;
}
.prefix_29 {
    margin-left: 1160px;
}
.prefix_30 {
    margin-left: 1200px;
}
.suffix_1 {
    margin-right: 40px;
}
.suffix_2 {
    margin-right: 80px;
}
.suffix_3 {
    margin-right: 120px;
}
.suffix_4 {
    margin-right: 160px;
}
.suffix_5 {
    margin-right: 200px;
}
.suffix_6 {
    margin-right: 240px;
}
.suffix_7 {
    margin-right: 280px;
}
.suffix_8 {
    margin-right: 320px;
}
.suffix_9 {
    margin-right: 360px;
}
.suffix_10 {
    margin-right: 400px;
}
.suffix_11 {
    margin-right: 440px;
}
.suffix_12 {
    margin-right: 480px;
}
.suffix_13 {
    margin-right: 520px;
}
.suffix_14 {
    margin-right: 560px;
}
.suffix_15 {
    margin-right: 600px;
}
.suffix_16 {
    margin-right: 640px;
}
.suffix_17 {
    margin-right: 680px;
}
.suffix_18 {
    margin-right: 720px;
}
.suffix_19 {
    margin-right: 760px;
}
.suffix_20 {
    margin-right: 800px;
}
.suffix_21 {
    margin-right: 840px;
}
.suffix_22 {
    margin-right: 880px;
}
.suffix_23 {
    margin-right: 920px;
}
.suffix_24 {
    margin-right: 960px;
}
.suffix_25 {
    margin-left: 1000px;
}
.suffix_26 {
    margin-left: 1040px;
}
.suffix_27 {
    margin-left: 1080px;
}
.suffix_28 {
    margin-left: 1120px;
}
.suffix_29 {
    margin-left: 1160px;
}
.suffix_30 {
    margin-left: 1200px;
}
.push_1 {
    left: 40px;
}
.push_2 {
    left: 80px;
}
.push_3 {
    left: 120px;
}
.push_4 {
    left: 160px;
}
.push_5 {
    left: 200px;
}
.push_6 {
    left: 240px;
}
.push_7 {
    left: 280px;
}
.push_8 {
    left: 320px;
}
.push_9 {
    left: 360px;
}
.push_10 {
    left: 400px;
}
.push_11 {
    left: 440px;
}
.push_12 {
    left: 480px;
}
.push_13 {
    left: 520px;
}
.push_14 {
    left: 560px;
}
.push_15 {
    left: 600px;
}
.push_16 {
    left: 640px;
}
.push_17 {
    left: 680px;
}
.push_18 {
    left: 720px;
}
.push_19 {
    left: 760px;
}
.push_20 {
    left: 800px;
}
.push_21 {
    left: 840px;
}
.push_22 {
    left: 880px;
}
.push_23 {
    left: 920px;
}
.pull_1 {
    left: -40px;
}
.pull_2 {
    left: -80px;
}
.pull_3 {
    left: -120px;
}
.pull_4 {
    left: -160px;
}
.pull_5 {
    left: -200px;
}
.pull_6 {
    left: -240px;
}
.pull_7 {
    left: -280px;
}
.pull_8 {
    left: -320px;
}
.pull_9 {
    left: -360px;
}
.pull_10 {
    left: -400px;
}
.pull_11 {
    left: -440px;
}
.pull_12 {
    left: -480px;
}
.pull_13 {
    left: -520px;
}
.pull_14 {
    left: -560px;
}
.pull_15 {
    left: -600px;
}
.pull_16 {
    left: -640px;
}
.pull_17 {
    left: -680px;
}
.pull_18 {
    left: -720px;
}
.pull_19 {
    left: -760px;
}
.pull_20 {
    left: -800px;
}
.pull_21 {
    left: -840px;
}
.pull_22 {
    left: -880px;
}
.pull_23 {
    left: -920px;
}
.grid_g {
    letter-spacing: -0.31em;
    word-spacing: -0.43em;
}
.grid_1, .grid_1_2, .grid_1_3, .grid_2_3, .grid_1_4, .grid_3_4, .grid_1_5, .grid_2_5, .grid_3_5, .grid_4_5, .grid_1_6, .grid_5_6, .grid_1_8, .grid_3_8, .grid_5_8, .grid_7_8, .grid_1_12, .grid_5_12, .grid_7_12, .grid_11_12, .grid_1_24, .grid_5_24, .grid_7_24, .grid_11_24, .grid_13_24, .grid_17_24, .grid_19_24, .grid_23_24 {
    display: inline-block;
    float: left;
    letter-spacing: normal;
    vertical-align: top;
    word-spacing: normal;
}
.grid_1 {
    display: block;
}
.grid_1_2 {
    width: 50%;
}
.grid_1_3 {
    width: 33.3333%;
}
.grid_2_3 {
    width: 66.6667%;
}
.grid_1_4 {
    width: 25%;
}
.grid_3_4 {
    width: 75%;
}
.grid_1_5 {
    width: 20%;
}
.grid_2_5 {
    width: 40%;
}
.grid_3_5 {
    width: 60%;
}
.grid_4_5 {
    width: 80%;
}
.grid_1_6 {
    width: 16.656%;
}
.grid_5_6 {
    width: 83.33%;
}
.grid_1_8 {
    width: 12.5%;
}
.grid_3_8 {
    width: 37.5%;
}
.grid_5_8 {
    width: 62.5%;
}
.grid_7_8 {
    width: 87.5%;
}
.grid_1_12 {
    width: 8.3333%;
}
.grid_5_12 {
    width: 41.6666%;
}
.grid_7_12 {
    width: 58.3333%;
}
.grid_11_12 {
    width: 91.6666%;
}
.grid_1_24 {
    width: 4.1666%;
}
.grid_5_24 {
    width: 20.8333%;
}
.grid_7_24 {
    width: 29.1666%;
}
.grid_11_24 {
    width: 45.8333%;
}
.grid_13_24 {
    width: 54.1666%;
}
.grid_17_24 {
    width: 70.8333%;
}
.grid_19_24 {
    width: 79.1666%;
}
.grid_23_24 {
    width: 95.8333%;
}
.fix_left {
    display: inline;
    float: left;
}
.fix_right {
    display: inline;
    float: right;
}
.right_1 {
    margin-right: 40px;
}
.right_2 {
    margin-right: 80px;
}
.right_3 {
    margin-right: 120px;
}
.right_4 {
    margin-right: 160px;
}
.right_5 {
    margin-right: 200px;
}
.right_6 {
    margin-right: 240px;
}
.right_7 {
    margin-right: 280px;
}
.right_8 {
    margin-right: 320px;
}
.right_9 {
    margin-right: 360px;
}
.right_10 {
    margin-right: 400px;
}
.right_11 {
    margin-right: 440px;
}
.right_12 {
    margin-right: 480px;
}
.right_13 {
    margin-right: 520px;
}
.right_14 {
    margin-right: 560px;
}
.right_15 {
    margin-right: 600px;
}
.right_16 {
    margin-right: 640px;
}
.right_17 {
    margin-right: 680px;
}
.right_18 {
    margin-right: 720px;
}
.right_19 {
    margin-right: 760px;
}
.right_20 {
    margin-right: 800px;
}
.right_21 {
    margin-right: 840px;
}
.right_22 {
    margin-right: 880px;
}
.right_23 {
    margin-right: 920px;
}
.right_24 {
    margin-right: 960px;
}
.left_1 {
    margin-left: 40px;
}
.left_2 {
    margin-left: 80px;
}
.left_3 {
    margin-left: 120px;
}
.left_4 {
    margin-left: 160px;
}
.left_5 {
    margin-left: 200px;
}
.left_6 {
    margin-left: 240px;
}
.left_7 {
    margin-left: 280px;
}
.left_8 {
    margin-left: 320px;
}
.left_9 {
    margin-left: 360px;
}
.left_10 {
    margin-left: 400px;
}
.left_11 {
    margin-left: 440px;
}
.left_12 {
    margin-left: 480px;
}
.left_13 {
    margin-left: 520px;
}
.left_14 {
    margin-left: 560px;
}
.left_15 {
    margin-left: 600px;
}
.left_16 {
    margin-left: 640px;
}
.left_17 {
    margin-left: 680px;
}
.left_18 {
    margin-left: 720px;
}
.left_19 {
    margin-left: 760px;
}
.left_20 {
    margin-left: 800px;
}
.left_21 {
    margin-left: 840px;
}
.left_22 {
    margin-left: 880px;
}
.left_23 {
    margin-left: 920px;
}
.left_24 {
    margin-left: 960px;
}
.row {
    clear: both;
}
.row::before, .row::after {
    content: "";
    display: table;
}
.row::after {
    clear: both;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix::before, .clearfix::after, .ui_container::before, .ui_container::after, .ui_container_fluid::before, .ui_container_fluid::after {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix::after, .ui_container::after, .ui_container_fluid::after {
    clear: both;
    height: 1px;
    overflow: hidden;
}
.clearfix, .ui_container {
}
