
.ui_taskbar {
    background: rgba(0, 0, 0, 0) url("../images/common/taskbar/taskbar_bg.gif") repeat-x scroll 0 0;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.taskbar_window {
    float: left;
    margin: 0 50px 0 20px;
    width: 30px;
}
.taskbar_button {
    background: rgba(0, 0, 0, 0) url("../images/common/taskbar/taskbar_button.gif") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline;
    float: right;
    height: 18px;
    margin-right: 20px;
    width: 21px;
}
.taskbar_menu {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    vertical-align: middle;
}
.taskbar_menu li {
    display: block;
    float: left;
    height: 34px;
    line-height: 34px;
    margin: 3px 10px 0 0;
    position: relative;
}
.taskbar_menu li a, .taskbar_menu li a:link {
    background: rgba(0, 0, 0, 0) url("../images/common/taskbar/taskbar_menu_left.png") no-repeat scroll left center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 34px;
    padding: 0 7px 0 10px;
    text-decoration: none;
    white-space: nowrap;
}
.taskbar_menu li a span {
    display: inline-block;
}
.taskbar_menu li a:hover {
    background: rgba(0, 0, 0, 0) url("../images/common/taskbar/taskbar_menu_left_over.png") no-repeat scroll left center;
    text-decoration: none;
}
.taskbar_menu li a:hover b {
    background: rgba(0, 0, 0, 0) url("../images/common/taskbar/taskbar_menu_right_over.png") no-repeat scroll right center;
}
.taskbar_menu li a img {
    margin-bottom: 2px;
    margin-right: 5px;
    vertical-align: middle;
}
.taskbar_menu li b {
    background: rgba(0, 0, 0, 0) url("../images/common/taskbar/taskbar_menu_right.png") no-repeat scroll right center;
    display: block;
    height: 34px;
    position: absolute;
    right: -3px;
    top: 0;
    width: 3px;
}
.taskbar_menu .menu_close {
    background: rgba(0, 0, 0, 0) url("../images/common/taskbar/taskbar_menu_close.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 14px;
    position: absolute;
    right: -7px;
    top: -1px;
    width: 14px;
}
.taskbar_menu .menu_close:hover {
}
.ui_taskbar_expand {
    background: rgba(0, 0, 0, 0) url("../images/common/taskbar/taskbar_bg.gif") repeat-x scroll 0 0;
    display: none;
    font-size: 0;
    height: 12px;
    position: relative;
}
.ui_taskbar_expand .taskbar_expand_button {
    background: rgba(0, 0, 0, 0) url("../images/common/taskbar/taskbar_expand_button.gif") no-repeat scroll 0 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 18px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    width: 21px;
}
.taskbar_menu .tl-selected b {
    background: rgba(0, 0, 0, 0) url("../images/common/taskbar/taskbar_menu_right_selected.png") no-repeat scroll right center;
    display: block;
    height: 34px;
    position: absolute;
    right: -3px;
    top: 0;
    width: 3px;
}
.taskbar_menu .tl-selected a:link, .taskbar_menu .tl-selected a {
    background: rgba(0, 0, 0, 0) url("../images/common/taskbar/taskbar_menu_left_selected.png") no-repeat scroll left center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 34px;
    padding: 0 7px 0 10px;
    text-decoration: none;
    white-space: nowrap;
}
