 @charset "utf-8";

/* Base*/
*{
	margin:0;
	padding:0;
}
body{
	font:12px/1.8 Tahoma,"宋体";
	color:#666;
}
input,img{
	border:0;
}

img:hover{
	cursor:pointer!important;
}

li{
	list-style:none;
}
b,i{
	font-style:normal;
}
#menuList a:link{
	color:#666;
	text-decoration:none;
}

#menuList a:visited{
	color:#666;
	text-decoration:none;
}
#menuList a:hover{
	color:#06C;
	cursor:pointer!important;
}

.dataTable a:link{
	text-decoration:none;
	color: blue;
}

.dataTable a:visited{
	text-decoration:none;
	color: blue;
}

.dataTable a:hover{
	text-decoration:underline;
	color: #FF0000;
}


.inputClazz{
	color:#666;
	background:#f0f0f0;
	border:1px solid #cacaca;
	height: 22px;
	line-height: 22px;
}

/*定义button会与jqueryui样式冲突*/
.button{
	background:url(../../image/form_pro_icon.png) no-repeat -1px -1px;
	cursor:pointer;
	border:0;
	height:23px;
	width:87px;
	color:#fff;
}


.clr{
	zoom:1;
}


.queryButView{
	float:right;
	text-align:right;
	width:90px;
	/*padding-top:10px;*/
	padding-top: 5px;
}

.queryButView a{
	display:inline-block;
	width:70px;
	position:relative;
	padding:0 15px 0px 5px;
}

.queryButView .liTop{
	padding-top: 15px;
}

.queryButView i{
	height:13px;
	width:7px;
	background:url(../../image/form_pro_icon.png) no-repeat -5px -78px;
	display:inline-block;
	top:5px;
	right:0;
	position:absolute;
}


.mainQuery{
	border:1px solid #cacaca;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	/*margin-right: 10px;
	margin-bottom: 10px;*/
	margin:0 auto;
	background-color:#FAFAFA;
	margin-bottom: 5px;
}

.mainBody{
	padding-right:10px;
	/*white-space: nowrap;
	text-overflow: ellipsis;*/
}
/*查询错误提示样式*/
.label {
	display: block;
	line-height: 8px;
}

/*消息提示div样式*/
.message{
	border: solid 1px #FEE143;
	background-color:#FFFFCC;
	padding:5px;
	margin-top:1px;
	margin-bottom: 1px;
	margin-left: 0px;
	margin-right: 0px;
	height:18px;
}

/*功能按钮样式*/
.t_head{
	margin:5px 0;
	overflow:hidden;
}

.t_head ul li{
	width:70px;
	float:left;
	margin-right:5px;
	height:20px;
}

.t_head ul li a{
	margin-left:30px;
	color:#fff;
}

.t_head ul li.batch a{
	margin-left:26px;
}


.t_head ul li.copy{
	background:url(../../image/form_pro_icon.png) -1px -29px no-repeat;
}

.t_head ul li.batch{
	background:url(../../image/form_pro_icon.png) -73px -29px no-repeat;
	width:80px;
}

.t_head ul li.expost{
	background:url(../../image/form_pro_icon.png) -155px -29px no-repeat;
}

.t_head ul li.unexpost{
	background:url(../../image/form_pro_icon.png) -155px -29px no-repeat;
}

.t_head ul li.print{
	background:url(../../image/form_pro_icon.png) -228px -29px no-repeat;
}

.saveLong{
	width:93px;
	height:26px;
	text-align:center;
	cursor:pointer;
	background:url(../../image/AllImages.png) -350px -93px no-repeat;
	margin:0 5px;
	color:#333;
}

.underlineClazz{
	text-decoration: underline;
	color:blue;
}
a.underlineClazz:HOVER{
	text-decoration: underline;
}
